/* html{
    margin: 0;
    padding: 0;
} */
body {
    background: var(--bg-site);
    /* color: var(--text-default); */
    color: red;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}   
p, #message, button {
font-size: 1rem;
color: var(--text-default);
}

button{
    /* color: re;
    border: 1px solid red; */
}

/* =====================
   BASE
===================== */
.wrapper{
    opacity: .7;
}
/* body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* =====================
   CARD
===================== */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* =====================
   NAV
===================== */

/* .nav {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav a {
  text-decoration: none;
  font-weight: 600;
}

.link-button {
  border: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
} */

/* =====================
   LOADER
===================== */

.loader-wrapper {
  width: 160px;
  height: 3px;
  background: var(--bg-medium);
  border-radius: 999px;
  overflow: hidden;
}

.loader-line {
  width: 40%;
  height: 100%;
  background: var(--text-inverse);
  animation: loading 1.2s ease-in-out infinite;
}

@keyframes loading {
  0%   { transform: translateX(-100%); }
  50%  { transform: translateX(150%); }
  100% { transform: translateX(150%); }
}

/* =====================
   TEXTOS
===================== */

#message {
  opacity: 0.8;
  margin: 0;
}

#destination {
  font-size: 0.75rem;
  opacity: 0.55;
  max-width: 260px;
  text-align: center;
  word-break: break-all;
  color: var(--text-default);
}

/* =====================
   BOTÕES
===================== */

.actions {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 12px;
}

.actions button {
  padding: 8px 30px;
  border-radius: 999px;
  border: none;
  background: var(--bg-medium);
  cursor: pointer;
}

/* =====================
   LINKS
===================== */

/* .links-group {
  display: flex;
  gap: 10px;
}

.links-group .a {
  text-decoration: none;
  font-size: 0.85rem;
  opacity: 0.7;
}

.links-group .a:hover {
  opacity: 1;
} */
