:root {
    /* background LIGHT*/
    --bg-site: hsl(0, 0%, 85%);
    --bg-medium: hsl(0, 0%, 90%); /* para o @media cell */
    --bg-card: hsl(0, 0%, 95%);  
    --bg-container: hsl(0, 0%, 100%); 
    /* --bg-container-hover: hsl(0, 0%, 85%);  */
    --bg-bottom-bar: hsl(0, 0%, 85%); 
    --large-button: hsl(0, 0%, 100%);
    --nav-buttons: hsl(0, 0%, 100%);
    --square-link: hsl(0, 0%, 100%);       
    
    --box-shadow-glow: hsl(0, 0%, 100%);
    --box-shadow-umbra: hsl(0, 0%, 0%, 0.05); 
    
    --width-card-desk: 50vw;
    --width-container-desk:45vw;
    --width-xl-button-desk:40vw;
    --width-xl-button-desk-clear:40vw;
    --width-popup-desk:35vw;
    --width-block-folders: 20vw;
    
    --card-box-shadow-wh: 2px;
    
    --line-large-button-clear: hsl(0, 0%, 85%);
    
    --line-photo-profile: hsl(0, 0%, 10%);
   
    /* cor texto */
    --text-default: hsl(0, 0%, 3%);
    --text-inverse: hsl(0, 0%, 98%);
    
    --square-link-1: pink;
    --square-link-2: pink;
    --square-link-3: pink;
    --square-link-4: pink;
    --square-link-5: pink;
}
/* Modo Noturno */
@media (prefers-color-scheme: dark) {  
    :root {
        /* background DARK */
        --bg-site: hsl(0, 0%, 8%);
        --bg-medium: hsl(0, 0%, 13%); /* para o @media cell */
    --bg-card: hsl(0, 0%, 18%);  
    --bg-container: hsl(0, 0%, 25%); 
    --bg-bottom-bar: hsl(0, 0%, 85%); 
    --large-button: hsl(0, 0%, 30%);
    --nav-buttons: hsl(0, 0%, 30%);
    --square-link: hsl(0, 0%, 30%);
    
    --box-shadow-glow: hsl(0, 0%, 35%);
    --box-shadow-umbra: hsl(0, 0%, 0%, 0.5); 
    
    --line-large-button-clear: hsl(0, 0%, 15%);

    --line-photo-profile: hsl(0, 0%, 90%);
    
    --text-default: hsl(0, 0%, 90%);
    --text-inverse: hsl(0, 0%, 3%);
    
    --width-card-desk: 50vw;
    --width-container-desk:45vw;
    --width-xl-button-desk:40vw;
    --width-xl-button-desk-clear:40vw;
    --width-popup-desk:35vw;
    --width-block-folders: 20vw;
    
    --card-box-shadow-wh: 1px;
    
    --square-link-1: pink;
    --square-link-2: pink;
    --square-link-3: pink;
    --square-link-4: pink;
    --square-link-5: pink;   
    }
}

.text-y-w-w, nav a {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}


p, a, button, h1, h2, h3, h4, h5, h6, footer {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

p, a, a:visited, h1, h2, h3, h4, h5, h6, button, .paragraph, #footer {
    color: var(--text-default);
}
a, a:visited{
    text-decoration: none;
}

.text-y-w-w {
  font-size: 1.5rem;
}

.text-link, .a{
    text-decoration: underline 0.9px solid hsl(0, 0%, 50%, 0.4);  
    text-underline-offset: 2px;            /* Distância entre o texto e a linha */

}

.material-symbols-outlined{
  font-variation-settings:
    "OPSZ" 20,
    "FILL" 0,
    "GRAD" 0;
}

.icon-light{
  font-variation-settings:
    "OPSZ" 20,
    "wght" 300,
    "FILL" 0,
    "GRAD" 0;
}

.icon-regular{
  font-variation-settings:
    "OPSZ" 20,
    "wght" 400,
    "FILL" 0,
    "GRAD" 0;
}
.icon-fill{
  font-variation-settings:
    "OPSZ" 20,
    "wght" 400,
    "FILL" 1,
    "GRAD" 0;
}
.icon-intro{
  background: linear-gradient(
    120deg,
    #fff9c4 0%,
    #ffe082 15%,
    #f6d365 30%,
    #d4af37 50%,
    #b38b2e 65%,
    #8c6b1f 80%,
    #fff9c4 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 1px 0 rgba(255,255,255,0.4),
    0 -1px 0 rgba(0,0,0,0.2);
}

.card{
    border-radius: 20px;
}

#content{ /* conteudo do menu do selo de perfil oficial */
    border-radius: 20px;
}
nav a, nav button{
    border-radius: 8px;
}
.photo-profile{
    border-radius: 6px;
}
.container{
    border-radius: 8px;
}
.large-button, .square-links{
    border-radius: 8px;
}
/* .large-button-clear{
    border-radius: 3px;
} */


body, html {
    background-color: var(--bg-site);
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
html {
    font-size: 16px;
}
html{
    background-color: ;
}
body {
    
}
.card{
    background-color: ;
}
h2{
    font-size: 1.7rem;
}


.p{
    font-size: 1rem;
}

footer{
    /* color: var(--text-default); */
}
.p-container{
    display: flex;
    flex-direction: column;
    width: var(--width-xl-button-desk-clear);
    height: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: gol;
    /* margin: -10px 0 -5px 0; */
    margin-bottom: 10px;
    align-items: start;
    justify-content: center;
}

/* .material-symbols-outlined{
    background: yellow; */
.h2-intro{
    display: flex;
    height: auto;
    align-items: center;
    justify-content:center;
    text-align: center;
    background: yello;
}
.fa-brands{
    background: yello;
}
/* .large-button{
  text-decoration: underline;
} */

.large-button .material-symbols-outlined{
  text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    width: var(--width-card-desk);
    justify-content:;
    align-items: center;
    text-align: center; 
    background-color: var(--bg-card);
    gap: 10px;
    padding: 30px 0;
    box-shadow: inset var(--card-box-shadow-wh) var(--card-box-shadow-wh) 4px var(--box-shadow-glow),
    2px 2px 10px var(--box-shadow-umbra);
}


nav{
    background-color: orang;
    display: flex;
    flex-direction: row;
    width: var(--width-container-desk);
}
nav a, nav button{
    display: flex;
    justify-content:center;
    height: 40px;
    align-items: center;
    text-align: center; 
    background: var(--nav-buttons);
    padding: 0 40px;
}
.link-button{
    margin-left: auto;
    padding: 10px!important;
}
.link-locked{
    margin-left: auto;
    padding-right: 20px;
}

.bottom-bar{
    display: flex;
    flex-direction: row;
    width: var(--width-card-desk);
    justify-content:center;
    height: 60px;
    align-items: center;
    text-align: center; 
    background-color: var(--bg-card);
    gap: 40px;
    /* padding: 30px 0; */
    position: sticky;
    bottom: 0;
    /* box-shadow: inset 2px 2px 4px hsl(0, 0%, 100%),
    2px 2px 10px hsl(0, 0%, 0%, 0.05); */
    box-shadow: inset 0 2.5px 4px var(--box-shadow-glow), 
    0 -4px 3px -2px var(--box-shadow-umbra);
       /* border-radius: 20px 20px 0 0; */
    /* overflow-x: hidden;   */  
}

.bottom-bar-active{
  padding: 10px 30px;  
  background: var(--nav-buttons);
  border-radius: 3px;
}


.container{
    width: var(--width-container-desk);
    background-color: var(--bg-container);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 30px 0 30px 0; */
    padding: 30px 0 30px 0;
    gap:;
}
.container-clear{
    width: var(--width-container-desk);
    background-color: pin;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
    gap:15px;
}
.container-folders-expl{
    width: var(--width-container-desk);
    min-height:;
    background-color: gree;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(
    2,
    minmax(100px, 1fr)
  ); */
  gap: 40px 10px;
  padding: 30px 0 80px 0;
}

.block-folders{

    width: 100%;
  background: pin;  
  border: solid 1px var(--line-large-button-clear);
  padding: 40px 0 20px 0;
}

.container-intro{
    width: var(--width-container-desk);
    background-color: pin;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0 0;
    gap:;
    position: relative;
}
.container-intro > .p-0-5-translucent{
    margin-top: -10px;
}
.p-0-5-translucent{
    color:;
    opacity: 0.5;
/*  margin-top: -10px; */
}

img.photo-profile{
    width: 120px;
    height: auto;
    border: solid 1.5px var(--line-photo-profile);
    position: relative;
    z-index: ;
      
}
.pop-up-photo-profile {
    width: 40px;
    position: absolute;
    top: 6%;
    right: 37%;
    border: solid 1px black;
    border-radius: 30px;
    z-index: 1;
}

.container-links{
    width: var(--width-xl-button-desk);
    height: 65px;
    /* background-color: var(--large-button); */
    display: flex;
    flex-direction: row;
    align-items: cente;
    justify-content:center;
    padding-left:;
    box-sizing: border-box;
    text-decoration: non;
    gap: 15px;
}

.square-links{
    display: flex;
    width: 65px;
    height: 65px;
    background: var(--square-link);
    justify-content:center;
    align-items: center;
}

#link-1{
    background-color: var(--square-link-1);
    /* color: contrast-color(var(--square-link-1)); */
}

.aro-profile{
    display: flex;
    /* width: 140px;
    height: 140px; */
    padding: 10px;
    border: solid 8px gold;
    /* position: absolute; */
    z-index: 3;
    /* margin-top: -0px; */
}

.container-intro-p{
    width: var(--width-container-desk);
    background-color: yello;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:;
}
/* .container-space-20px{
    display: flex;
    height: 20px;
} */
/* .user-intro{
    background-color: pink;
    display: flex;
    flex-direction: row;
    width: var(--width-container-desk);
    height: 10vh;
    align-items: cente;
    justify-content:center;
} nao deu certo minha ideia */

/* .container-intro > h2{
    background: gold;
} */
.validation-intro{
    height: 20px;
    border: solid 0.5px black;
}
.large-button .icon-button, .large-button-clear .icon-button{
    display: flex;
    justify-content: cente;
    width: 30px;
    height:35p;
    background-color:gra;
    object-fit: fil;
}

.large-button{
    width: var(--width-xl-button-desk);
    height: 65px;
    background-color: var(--large-button);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    text-decoration: non;
    gap: 15px;
}



.large-button .icon-button img, svg, .large-button-clear .icon-button img, svg{
    width: 100%;
}
.large-button-clear{
    width: var(--width-xl-button-desk-clear);
    height: 65px;
    background-color:;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    box-sizing: border-box;
    text-decoration: non;
    gap: 15px;
}


.large-button-clear:not(:last-child){
    border-block-end: solid 1.5px var(--line-large-button-clear);
}

.links-group{
    background-color: orang;
    display: flex;
    flex-direction: row;
    width: var(--width-card-desk);
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
}
.links-group:last-child{
    margin-top: 20px;
}

.banner-infos-web{
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 5px 20px;
    z-index: 999;
    
}

.paragraph{
    width: var(--width-xl-button-desk-clear);
  /*   color: var(--text-default); */
    text-align: start;
}

button{
    border: none;
    background: transparent;
    display: flex;
    align-items: cente;
    justify-content:center;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 100;

  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}

/* overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* popup */
#content {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -40%) scale(0.95);
  transition: transform 0.25s ease;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width: var(--width-popup-desk);
  height: 40vh;
  /* max-width: 600px;
  max-height: 400px; */
  background: var(--bg-card);
  padding:80px;
  box-sizing: border-box;
  gap: 40px; 
  box-shadow: inset var(--card-box-shadow-wh) var(--card-box-shadow-wh) 4px var(--box-shadow-glow),
    2px 2px 10px var(--box-shadow-umbra);
}
#content span {
    scale: 2.3;
}

/* quando abre */
.modal.active #content {
  transform: translate(-50%, -50%) scale(1);
}

/* botão fechar */
#closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;

  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

